.all_selectors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.selectors {
  padding: 20px 20px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.response_area {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 1200px;
  height: 600px;
  background-color: rgb(220, 246, 248);
  border-radius: 10px;
  border: 1px solid rgb(128, 126, 126);
}

.msg-box {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid grey;
}

.user {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background-color: aquamarine;
  margin: 10px;
}

.bot {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  background-color: bisque;
  margin: 10px;
}

.timestamp {
  display: block;
  font-size: 12px;
}

.my_form {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.user_input {
  width: 900px;
  padding: 10px 10px;
  border-radius: 10px;
}

.submit_button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.clear_button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.generate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
